.filled svg {
  fill: var(--primary);
}

.star svg {
  margin-right: 5px;
}

.editable {
  cursor: pointer;
}

.error svg {
  stroke: var(--red);
}

.ratingWrapper {
  position: relative;
}

.errorMessage {
  position: absolute;
  bottom: -22px;
  left: 0;
  color: var(--red);
}
